<div #Load class="content">
  <h4 class="header">Stored Eventlogs:</h4>
  @for (kg of this.kgs; track kg) {
  @if (!this.delete){
  <button class="choice" (click)="stateService.name=kg;sidebarService.viewState='graph';">
    {{kg}}
  </button>
  }
  @else {
  <div class="choice">
    <input type="checkbox" [(ngModel)]="this.delete_choice[kg]" id="choice{{kg}}" name="choice{{kg}}">
    <label>{{kg}}</label>
  </div>
  }

  }
  @if (!this.delete){
  <button (click)="this.delete=true;">Delete</button>
  }@else {
  <button (click)="this.delete=false;this.confirm_deletion();">Submit</button>
  }
</div>