:host {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
}

.header{
    text-align: center;
}

.content{
    height:100%;
    flex:1 1 auto;
    background-color:cadetblue;
    justify-content: center;
    align-self: flex-end;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.choice{
    align-self: center;
    min-width: 200px;
}