:host {
    display: flex;
    flex: 1 1 auto;
    height: 95vh;
}

.content{
    height:100%;
    max-width: 100vw;
    flex:1 1 auto;
    display:flex;
}

.graph{
    height:100%;
    flex:1 1 auto;
    background-color:cadetblue;
    justify-content: center;
    align-self: flex-end;
}

.chat {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    align-content: stretch;
    display:flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.messages {
    flex:1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
}

.chat-interface {
    align-self: flex-start;
    display: inline-flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.chat-input {
    margin-left: 3px;
    margin-right: 1.5px;
    flex: 1 1 auto;
    border-radius: 5px;
}

.chat-button {
    margin-left: 1.5px;
    margin-right: 3px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

.type-0-message {
    border-radius: 5px;
    align-self: flex-start;
    background-color: rgb(186, 186, 186);
    max-width: 100%;
    margin: 3px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.active{
    border-color: crimson;
    border-width: 5px;
    border-style: solid;
}

.type-1-message {
    border-radius: 5px;
    align-self: flex-end;
    background-color: rgb(207, 207, 207);
    max-width: 100%;
    margin: 3px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* @media screen and (max-width: 650px) {
    .messages {
        height: 45vh;
    }
} */