<div #Content class="content">
    <as-split direction="horizontal">
        <as-split-area [size]="40">
            <div class="chat">
                
                <div class="messages" #messageslist>
                    @for(m of messages;track m){
                    <div [class.active]="m.active" [class.type-0-message]="m.type===0" [class.type-1-message]="m.type===1" (mouseenter)="create_graph(history[m.id]);toggleMessagesActive(m.id)" (click)="id_focus===m.id?id_focus=-1:id_focus=m.id;" (mouseleave)="create_graph(history[id_focus]);toggleMessagesActive(id_focus)">{{ m.message }}</div>
                    }
                </div>
                <div class="chat-interface">
                    <input class="chat-input" [(ngModel)]="message" (keydown.enter)="sendMessage()" type="text"
                        placeholder="ask your question here">
                    <button class="chat-button" (click)="sendMessage()">ask</button>
                    <button class="chat-button" (click)="deleteChatHistory()">clear</button>
                    <button class="chat-button" (click)="create_graph(history[-1]);toggleMessagesActive(-1);id_focus=-1;">show original graph</button>
                </div>
            </div>
        </as-split-area>
        <as-split-area [size]="60">
            <div #Graph id="graph" class="graph">
            </div>
        </as-split-area>
    </as-split>
</div>