:host {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
}

.graph{
    height:100%;
    flex:1 1 auto;
    background-color:cadetblue;
    justify-content: center;
    align-self: flex-end;
}

@media screen and (max-width: 650px) {
}