:host {
    display: flex;
    flex: 1 1 auto;
    height: 100vh;
}

.header{
    text-align: center;
}

.upload{
    background-color: rgb(197, 255, 226);
    flex:1 1 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
}
.file-input {
    display: none;
  }
.file-upload{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.metadata{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
