
  <div #Upload class="upload">
    <h4 class="header">Upload Eventlog:</h4>
    <p style="text-align: center;">Selected File: {{fileName || "Nothing"}}</p>
    @if (!fileTypeOK) {
    <input type="file" class="file-input" (change)="onFileUpload($event)" #fileUpload>
    <div class="file-upload" (files)="onFileUpload($event)">
      <button color="primary" class="upload-btn" (click)="fileUpload.click()">
        Browse files
      </button>
    </div>
    }
    @if (fileTypeOK && columns.length<=0) {
      <div class="metadata">
        <h5>save as:</h5>
        <input [(ngModel)]="name" type="text" placeholder="{{fileName}}">
        <button (click)="this.upload()">Upload</button>
      </div>
    }
    @if (uploadProgress>0 && uploadProgress<100){
      <div class="metadata">
        <h5>Uploading: {{uploadProgress}}%</h5>
      </div>

    }
    @if (columns.length>0) {
      <div class="metadata">
        <div>
          <h5>case-id:</h5>
          <select [(ngModel)]="caseid" (change)="validateMetadata()">
            @for (col of columns; track col) {
              <option>
                {{col}}
              </option>
            }
          </select>
        </div>
        <div>
          <h5>timestamp:</h5>
          <select [(ngModel)]="timestamp" (change)="validateMetadata()">
            @for (col of columns; track col) {
              <option>
                {{col}}
              </option>
            }
          </select>
        </div>
        <div>
          <h5>activity:</h5>
          <select [(ngModel)]="activity" (change)="validateMetadata()">
            @for (col of columns; track col) {
              <option>
                {{col}}
              </option>
            }
          </select>
        </div>
      </div>
    }
    @if (metadataOK) {
      <button (click)="select_columns()">
        Submit
      </button>
    }
  </div>
