:host {
    display: flex;
    flex: 0 0 5vh;
}




.sidebar{
    overflow: hidden;
    background-color: rgb(75, 97, 117);
    color: antiquewhite;
    width: 100vw;
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0;
}
.sidebar:hover{
    background-color: rgb(144, 187, 227);
    color:black;
}