
  @if (['graph','start'].includes(sidebarService.viewState)!=true) {
    <div class="sidebar" (click)="sidebarService.setViewState('graph')">
      Open Chat
    </div>
  }
  @if (['load','start'].includes(sidebarService.viewState)!=true) {
    <div class="sidebar" (click)="sidebarService.setViewState('load')">
      Load Eventlog
    </div>
  }