
@if (['graph'].includes(sidebarService.viewState)) {
  <div class="content" >
    <app-chat></app-chat>
  </div>
}
@if (['load','start'].includes(sidebarService.viewState)) {
    <div class="content" >
      <as-split direction="horizontal">
        <as-split-area [size]="50">
          <app-upload></app-upload>
        </as-split-area>
        <as-split-area [size]="50">
          <app-load></app-load>
        </as-split-area>
      </as-split>
    </div>
}
@if (!['start'].includes(sidebarService.viewState)) {
  <app-sidebar></app-sidebar>
}

