html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

:host {
    margin:0%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: stretch;
}


.main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: stretch;
    width:100%;
    height:100%;
}

.content {
    flex: 1 0 auto;
    display:flex;
    flex-direction: row;
}
